@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
::selection{
    background-color: rgb(83, 43, 94);
    color: white;
}
body{
    height: 100vh;
    background: url('Backgroud\ do\ muubank2.png') no-repeat;
    background-position: center;
    background-size: cover;
}


.a3{
    text-decoration: none;
    color:  white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px;
    font-size: 1.1em;
}
header {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

.textohidden{
    text-align: center;
    color: rgb(99, 132, 202);
    position: absolute;
    top: -14px;
    right: 177px;
    bottom: 870px;
    padding-left: 1px;
    padding-top: 85px;
    padding-bottom: 45px;
    border-radius: 5px;
    font-size:65% ;
    opacity: 0;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    transition: opacity 0.3s ease;
}

.a1 .textohidden:hover{
    opacity: 1;
}

.navigation a{
    text-decoration: none;
    color:  white;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 0px black;
}
.navigation a:hover{
    text-shadow: 2px 2px 0px purple;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}


header h2 {
    color: white;
}

main  {

    display: flex;
    justify-content: center;
    align-items: center;
}



.h2o{
    text-align: center;
    margin-bottom: 2%;
}

div{
    font-size: 20px;
}
label{
    margin-left: 7%;
}
div input{
    border: 2px solid black;
    margin-left: 5px;
    border-radius: 5px;
    padding: 2px;
    font-size: 18px;
    margin-bottom: 15px;
}
.bagulha-input{
    display: flex;
}

.bagulha-input1{
    margin-left: -27px;
    display: flex;
}
.bagulha-input2{
    margin-top: 6px;
    margin-left: -25px;
}
.bagulha-input3{
    margin-top: 3%;
    padding-left: 3.5%;
}
.bagulha-input3 label{
    margin-top: 6%;
     margin-left: 2px;
}
#idmasculino{
    margin-top: 20px;
}
.p-de-genero{
    margin-bottom: 2%;
}

.bagulha-input-perdiaconta{
    display: inline-block;
    position: relative;
    align-items: start;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 2%;
}
.bagulha-input-perdiaconta label{
    display: flex;
    position: relative;
    align-items: flex-start;
    right: 20px;
}
.bagulha-input-perdiaconta input{
    border: 0;
}
.concordosim{
    display:flex ;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top:1% ;
    margin-left: -28px;
    padding-right:10px ;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);

}
#idtermos{
    display: flex;
    position: relative;
    top: 22px;
    right: 45px;
    width: 30px;
    height: 50px;
}
#termos{
    margin-top: 2%;
}
.dataNas{
    margin-bottom: 0px;
}
.prazoAss{
    margin-top: 14px;
}

.wrapper {
    position: relative;
    width: 700px;
    height: 750px;
    padding-top: 5px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px ;
    backdrop-filter: blur(20px);
}
#buttonzao{
    margin-top: 10px;
    background: rgb(168, 15, 155);
}
.btn{
    margin-top: 15px;
    background: rgb(252, 244, 173);
    margin-left: 25%;
    width: 50%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 6px;
}
.rodape{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(197, 123, 226), rgb(113, 54, 223));
    background-repeat: repeat;
    background-size: cover;
    height: 250px;
<<<<<<< HEAD

=======
>>>>>>> 05f8766681a02ec3dabe0a9d005343eee56d1559
}

footer p{
    text-align: center;
    margin: 20px;
}
footer p:hover{
    color: rgb(255, 255, 255);
}

/*---------------------------------------- DEV  ------------------------------------------- */

.wrapper2 {
    position: relative;
    width: 600px;
    height: 500px;
    padding-top: 5px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px ;
    background: linear-gradient(to top,#9258dd, #FFF);
    margin-bottom: 15%;
}

img{
    border-radius: 100%;
    width: 50%;
    height: 60%;
    margin: 1%;
    margin-bottom: 5%;
}

.coisa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


main h1{
    color: #512c63;
    text-shadow:2px 2px 2px #ffffff;
}
.coisadois{
    text-align: center;
}

.h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 5%;
    font-weight: 400;
    color: white;
    text-shadow:2px 2px 2px #5a1cbe;
}

.rodape3{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom ,transparent,#b358dd, #743dcc);
    background-repeat: repeat;
    background-size: cover;
    height: 250px;
    text-shadow: 1px 1px 1px rgb(176, 40, 255);

}
/*---------------------------------------- PHP ------------------------------------------- */


.wrapper1 {
    position: relative;
    width: 600px;
    height: 500px;
    padding-top: 5px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px ;
    background: linear-gradient(to bottom,rgb(255, 255, 255), rgb(120, 59, 189));
    margin-bottom: 5%;
}
.wrapper1 h2{
    margin-top: 10px;
    height: 40px;
}
.wrapper1 p{
    margin-top: 3%;
    font-weight: 500;
}    
#paragrafos{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
}
.piloto{
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 80px;
}
.p2{
    display: flex;
    position: relative;
    margin: 0;
    right: 39.5px;
}
.p3{
    position: relative;
    margin: 0;
    left: 73px;
}
.rodape1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom,rgb(197, 123, 226), rgb(113, 54, 223));
    background-repeat: repeat;
    background-size: cover;
    height: 250px;
}